<!DOCTYPE html>
<html>

<head>

    <body>
        <title>Confirm </title>
</head>
<link rel="stylesheet" href="styles.css">

    <center id="top">
        <div class="logo"></div>
        <h1>Are you sure you want to join this group? </h1>
        </div>
        <!--End Info-->
    </center>
    <!--End InvoiceTop-->



    <div id="table">
        <table>
            <tr class="tabletitle">
                <h2>College: {{ userInfo['college']}} </h2>
                </td>
                <h2>Course: {{userInfo['course']}}</h2> 
                </td>
                <h2>Date: {{date}} </h2>
                </td>
                <h2>Location: {{location}} </h2>
                <h2>Time: {{time}}</h2>
                </td>
            </tr>

        </table>
    </div>
    <!--End Table-->
    <form method='POST' action="/YesJoin/{{userInfo._id}}">
              <input type="submit" name="time" value= "YES" />
    </form>
    </form>
    <button onclick="window.location.href = 'https://525a7d43fccf41cf9eda052f82596402.vfs.cloud9.us-east-2.amazonaws.com/';">NO</button>

</div>
    </form>
    <form method='POST' action="/options">
        <input type="submit" value="Create your own study group" />
        <div id="legalcopy">
            <p class="legal"><strong>Thank you for using Study Buddy!</strong>  Remember to save this appointment!.
            </p>
        </div>

        </div>
        <!--End InvoiceBot-->
        </div>
        <!--End Invoice-->

    </body>

</html>
