<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="style.css">
        
        

        <title>Study Buddy </title>
    </head>
    <body>
      <h1>Study Buddy </h1>
      <div class="event-list">
          
      </div>
      <form method='POST' action="/results">
      Name: <br>
      <input type="text " name="name" value="" /><br>
      
      College: <br>
      <input type="text " name="college" value="" /><br>
      Email: <br>
      <input type="text " name="email" value=""/><br>
      Major: <br>
      <input type="text " name="major" value=""/><br>
      Course: <br>
      <input type="text " name="course" value=""/><br>
      Class: <br>
      <input type="text " name="classes" value=""/><br>
      <input type="submit">
      </form>
       <div class="container">
      <div class="hero teal darken-4 center-text pink-text text-lighten-4">
        <h4>StuddyBuddy is a well-designed page.</h4>
        <h6>This text is smaller. Designers use smaller text when information less eye-catching.</h6>
        <br/>
        <a class="waves-effect waves-light btn-large pink lighten-4 teal-text text-darken-4" style="border-radius: 26px;">Sign Up Now!</a>
      </div>
    </div>
    <footer class="page-footer black darken-4 grey-text text-lighten-1">
      <div class="container">
        <div class="row">
          <!-- These divs will need classes so that they work as described -->
          <div class="col l2">Spotify Logo</div>
          <div class="col l2">Company content</div>
          <div class="col l2">Communities content</div>
          <div class="col l2">Useful links content</div>
          <div class="col l4 ">
            <!--<i class="material-icons medium right">add_a_photo</i>-->
            <!--<i class="material-icons medium right">add_to_photos</i>-->
            <!--<i class="material-icons medium right">apps</i>-->
            <!--<i class="material-icons medium right">copyright</i>-->
            <!--<i class="material-icons medium right">fingerprint</i>-->
            <!--<a href="https://translate.google.com/"><i class="material-icons medium right">g_translate</i></a>-->
          </div>

<div>
<div class="row smallest-size">
          <!-- These divs will need classes so that they work as described -->
          <div class="col l1">Legal</div>
          <div class="col l1">Privacy Center</div>
          <div class="col l1">Privacy Policy</div>
          <div class="col l1">Cookies</div>
          <div class="col l1">About Ads</div>
          <div class="col l1 right"> 
          <i class="material-icons tiny">copyright</i>
          2019 StudyBuddy </div>
        </div>
      </div>
    </footer>
</html>

    </body>
</html>
