<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="style.css">
        
        

        <title>Study Buddy </title>
    </head>
    <body>
      <h1>Study Buddy </h1>
      <div class="event-list">
      </div>
      <form method='POST' action="/results">
      Name: <br>
      <input type="text " name="name" value="" /><br>
      
      College: <br>
      <input type="text " name="college" value="" /><br>
      Email: <br>
      <input type="text " name="email" value=""/><br>
      Major: <br>
      <input type="text " name="major" value=""/><br>
      Course: <br>
      <input type="text " name="course" value=""/><br>
      Class: <br>
      <input type="text " name="classes" value=""/><br>
      <input type="submit">
      </form>
</body>

</html>

    </body>
</html>
