<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">



    <title>Study Buddy </title>
</head>

<body>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">StudyBuddy</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">About</a></li>
                <li><a href="badges.html">Questions & Feedback</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">
                    <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
        
                </i></a></li>
            </ul>
        </div>
    </nav>
    <h1>Transitioning to college can be hard this is how we help </h1>
  
   <h6>Want to find a study group ? Get started here. </h6>
    <div class="event-list">

    </div>
    <form method='POST' action="/results">
        Name: <br>
        <input type="text " name="name" value="" /><br> College: <br>
        <input type="text " name="college" value="" /><br> Email: <br>
        <input type="text " name="email" value="" /><br> Major: <br>
        <input type="text " name="major" value="" /><br> Course: <br>
        <input type="text " name="course" value="" /><br> Class: <br>
        <input type="text " name="classes" value="" /><br>
        <input type="submit">
    </form>
    
</body>


</body>

</html>
