<!DOCTYPE html>
<html>

<head>

    <body>
        <title>Confirm </title>
</head>
<link rel="stylesheet" href="styles.css">

    <center id="top">
        <div class="logo"></div>
        <h1>Are you sure you want to join this group? </h1>
        </div>
        <!--End Info-->
    </center>
    <!--End InvoiceTop-->



    <div id="table">
        <table>
            <tr class="tabletitle">
                <!--<h2>College: {{['college']}} </h2>-->
                </td>
                <!--<h2>Course: {{'course']}}</h2> -->
                </td>
                <h2>Date: {{date}} </h2>
                </td>
                <h2>Location: {{location}} </h2>
                <h2>Time: {{time}}</h2>
                </td>
            </tr>